<%= cl_image_tag @trip.photo, height: 300, width: 400, crop: :fill %>
<p><%= @trip.name %></p>
<p>Destination: <%= @trip.destination %></p>
<p>Start date: <%= @trip.start_date %></p>
<p>End date: <%= @trip.end_date %></p>

