<h1>Task Manager</h1>


<div class="button-add-people">
  <%= button_to "Add people", class: "btn btn-flat" %>
</div>

<div class="button-add-people">
  <%= button_to "Add Tasks", class: "btn btn-flat" %>
</div>

<div class="unassigned-tasks">
  <h3>Unassigned Tasks</h3>
  <% @tasks.each do |task| %>
  <ul>
    <li>
      <h6> <%= task.name %> </h6>
      <p> <%= task.description %> </p>

      <% if task.attachments.present? %>
        <% task.attachments.each do |attach| %>
        <p>
          Attachment: <%= link_to attach.name, attach.attachment_url %>
        </p>
        <% end %>
      <% else %>
        <%= button_to "Attach file", class: "btn btn-flat" %>
      <% end %>

    </li>
  </ul>
  <% end %>
</div>

<div class="participant-tasks">
  <h3>Participants</h3>
  <% @trip.participants.each do |participant| %>
  <ul>
    <li>
      <p> <%= participant.user.name %> </p>
    </li>
  </ul>
  <% end %>
</div>




<div class="completed-tasks">
  <h3>Completed Tasks</h3>
  <ul>
    <li>
      <p>task</p>
      <p>task</p>
      <p>task</p>
      <p>task</p>
    </li>
  </ul>
</div>
