<h1>Task Manager</h1>


<div class="button-add-people">
  <%= button_to "Add people", class: "btn btn-flat" %>
</div>

<div class="button-add-people">
  <%= button_to "Add Tasks", class: "btn btn-flat" %>
</div>

<!-- CARDS  -->

<div class="participants">
  <% @trip.participants.each do |participant| %>
  <ul>
    <div class="droppable-cards">
      <li>
        <p> <%= participant.user.name %> </p>
        <ul>
          <% @tasks.each do |task| %>
          <% if task.user_id == participant.user_id %>
          <div class="draggable-cards">
            <li>
              <h6> <%= task.name %> </h6>
              <p> <%= task.description %> </p>

              <% if task.attachments.present? %>
              <% task.attachments.each do |attach| %>
              <p>
                Attachment: <%= link_to attach.name, attach.attachment_url %>
              </p>
              <% end %>
              <% else %>
              <%= button_to "Attach file", class: "btn btn-flat" %>
              <% end %>
            </li>
          </div>
          <% end %>
          <% end %>
        </ul>
      </li>
    </div>
  </ul>
  <% end %>
</div>


<!-- MODAL BOX -->

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">new task</button>
<!--  -->
<div id="id01" class="modal">
  <div class="modal-content">
  <!--  -->
  <%= simple_form_for [@trip, @task] do |f| %>
    <%= f.input :name %>

    <%= f.input :description, as: :text %>
    <%= f.input :due_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= button_to "Attach file", class: "btn btn-flat" %>
    <%= f.submit "Create new task", class: "btn btn-primary" %>

    <% end %>
    <!--  -->
  <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>

  </div>
  </div>




</div>

<div class="completed-tasks">
  <h3>Completed Tasks</h3>
  <ul>
    <li>
      <p>Empty</p>

    </li>
  </ul>
</div>



<script>
  $( ".draggable-cards" ).draggable({
    helper: 'clone'
  });

  $( ".droppable-cards" ).droppable({
    drop: function() {
      debugger
    }
  });
</script>

