<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
<i class="fa fa-map-marked-alt"></i>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <h2 class="navbar-dash-title">My Trips</h2>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="button-create">
        <%= button_to "My Dashboard", trips_path, :method => "get", class: "btn btn-flat" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/25152155_1505642512838314_8663932422468807295_n.jpg?_nc_cat=108&_nc_ht=scontent-mxp1-1.xx&oh=89d1da59a5d8724c29ce682506afbd5e&oe=5D12F92C", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <!--   <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %> -->
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>


<!--
<div class="button-add-people">
  <%= button_to "Add people", class: "btn btn-flat" %>
</div>
-->



<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add people</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="<%= trip_participants_path %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="container">
      <h1>Invite friends to your trip</h1>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Send invitation</button>
      </div>
    </div>
  </form>
</div>


<!-- TASK MANAGER -->
<div class="tasks-manager">
      <% @trip.participants.each do |participant| %>
        <% if !participant.user.nil? %>
    <!--      Task container             -->
  <div class="task">
    <!--        Task head                -->
    <div class="task-head">
      <h2><%= participant.user.name%></h2>
      <% else %>
        <h2> <%= "#{participant.email}, status: #{participant.status}" %></h2>
        <% end %>
    </div>
    <!--         task body               -->
    <div class="task-body">
      <!--      task card                -->

      <div class="card-task">

        <div class="card-task-infos">
          <div class="task-box">

        <% @incomplete.each do |task| %>
          <% if task.user_id == participant.user_id %>
          <div class="task-content">

            <h2 class="task-title"><%= task.name %></h2>

            <p class="task-description"><%= task.description %></p>
          <div class="icon">
            <i class="fas fa-bars"></i>
          </div>

          </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
      <% end %>
      <!--  -->
      <!--  -->
      <div class="task">
    <!--        Task head                -->
    <div class="task-head">
      <h2>Completed Tasks</h2>
    </div>
    <!--         task body               -->
    <div class="task-body">
      <!--      task card                -->

      <div class="card-task">

        <div class="card-task-infos">
          <div class="task-box">

        <% @complete.each do |task| %>
          <div class="task-content">

            <h2 class="task-title"><%= task.name %></h2>

            <p class="task-description"><%= task.description %></p>
          </div>


            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>


<!--           <%# @incomplete.each do |task| %>
          <%# if participant.user %>
          <%# if task.user_id == participant.user_id %>
          <div class="draggable-tasks">
            <li>
              <h6> <%#= task.name %> </h6>
              <p> <%#= task.description %> </p>
                <%#= simple_form_for([@trip, task], method: :patch) do |f| %>
                  <%#= f.input :done_at, as: :hidden %>
                  <%#= f.submit "Mark as Completed", class: "btn btn-primary" %>

                <%#= simple_form_for([@trip, task], method: :delete) do |f| %>
                  <%#= f.submit "Delete task", class: "btn btn-primary" %>
                <%# end %>
                <%# end %>
                <%# end%>

                <%# @trip.participants.each do |participant| %>
                <%# if !participant.user.nil? %>
                  <%#= simple_form_for([@trip, task], method: :patch) do |f| %>
                  <%#= f.hidden_field :participant , value: participant.user.id %>
                  <%#= f.submit "to #{participant.user.name}", class: "btn btn-primary" %></i>
                <%# end %>
                <%# end %>
                <%# end %>
                <%# end %>
                <%#end %>
                <%# end %>

<div> -->

    <!-- CARDS  -->

   <!--  <div class="participants"> -->
      <%# @trip.participants.each do |participant| %>
      <!-- <ul> -->
      <!--   <div class="droppable-tasks">
          <li>
            <#% if !participant.user.nil? %>
            <h4> <%#= participant.user.name%> </h4>
            <#% else %>
            <%#= "#{participant.email}, status: #{participant.status}" %>
            <#% end %>
            <ul>  -->



          <!--     <#% @incomplete.each do |task| %>
              <#% if task.user_id == participant.user_id %>
              <div class="draggable-tasks">
                <li>
                  <h6> <%#= task.name %> </h6>
                  <p> <%#= task.description %> </p>
                    <%#= simple_form_for([@trip, task], method: :patch) do |f| %>
                      <%#= f.input :done_at, as: :hidden %>
                      <%#= f.submit "Mark as Completed", class: "btn btn-primary" %>
                    <#% end %>
                    <#% @trip.participants.each do |participant| %>
                      <%#= simple_form_for([@trip, task], method: :patch) do |f| %>
                      <#%= f.hidden_field :participant , value: participant.user.id %>
                      <#%= f.submit "to #{participant.user.name}", class: "btn btn-primary" %></i>
                    <#% end %>
                    <#% end %>

 -->



    <!--
                  <button type="button"> <%#= link_to "Mark as Complete", trip_task_path(@trip, task), {:action => "update"}%></button>
     -->              <%## if task.attachments.present? %>
                  <%# task.attachments.each do |attach| %>
              <!--     <p>
                    Attachment: <%#= link_to attach.name, attach.photo_url, target: "_blank" %>
                  </p>
                  <%# end %>
                  <%# else %>
                  <%#= button_to "Attach file", class: "btn btn-flat" %>
                  <%# end %>
                </li>
              </div>
              <%# end %>
              <%# end %>
            </ul>
          </li>
        </div>
      </ul>
      <%# end %>
    </div>
 -->

<!-- MODAL BOX -->

<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">new task</button>
<!--  -->
<div id="id02" class="modal">
  <div class="modal-content">
  <!--  -->
  <%= simple_form_for [@trip, @task] do |f| %>
    <%= f.input :name %>

    <%= f.input :description, as: :text %>
    <%= f.input :due_date, as: :datetime, required: true, input_html: {class: "datepicker"} %>
    <div class="clearfix" style="display: flex">
    <%= f.submit "Create new task", class: "btn btn-primary" %>
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>

    <% end %>
    <!--  -->

  </div>
  </div>




</div>





<script>
  $( ".draggable-tasks" ).draggable({
    helper: 'clone'
  });

  $( ".droppable-tasks" ).droppable({
    drop: function() {
      // let ui = document.querySelector("");
      // var id = $(li.draggable).attr('id');
      // console.log(id);

    }
  });
</script>

