<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
<i class="fa fa-map-marked-alt"></i>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <h2 class="navbar-dash-title">My Trips</h2>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="button-create">
        <%= button_to "My Dashboard", trips_path, :method => "get", class: "btn btn-flat" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <!--   <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %> -->
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>


<!--
<div class="button-add-people">
  <%= button_to "Add people", class: "btn btn-flat" %>
</div>
-->



<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add people</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="<%= trip_participants_path %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="container">
      <h1>Invite friends to your trip</h1>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Send invitation</button>
      </div>
    </div>
  </form>
</div>

<!-- MATERIAL TASK-MANAGER -->
<div class="task-manager">
      <% @trip.participants.each do |participant| %>
      <% if !participant.user.nil? %>
  <div class="tasks-card">
    <div class="tasks-owner">
      <span><%= participant.user.name  %></span>
        <% else %>
          <%= "#{participant.email}, status: #{participant.status}" %>
        <% end %>
      <div class="tasks-list">
          <% @incomplete.each do |task| %>
          <% if task.user_id == participant.user_id %>
        <ul class="mdc-list" role="group" aria-label="List with checkbox items">
          <li class="mdc-list-item" role="checkbox" aria-checked="false">
            <span class="mdc-list-item__graphic">
              <div class="mdc-checkbox">
                <input type="checkbox"
                        class="mdc-checkbox__native-control"
                        id="demo-list-checkbox-item-1"  />
                <div class="mdc-checkbox__background">
                  <svg class="mdc-checkbox__checkmark"
                        viewBox="0 0 24 24">
                    <path class="mdc-checkbox__checkmark-path"
                          fill="none"
                          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>
                  <div class="mdc-checkbox__mixedmark"></div>
                </div>
              </div>
            </span>
            <div class="task ">
            <label class="mdc-list-item__text" for="demo-list-checkbox-item-1"> <%= task.name %> </label>

            <span style="font-size: x-small; " class="mdc-list-item__text" for="demo-list-checkbox-item-1"> <%= task.description %> </span >

            </div>
          </li>
        <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="tasks-card">
    <div class="tasks-owner">
      <span>Completed tasks</span>
      <div class="tasks-list">
          <% @complete.each do |task| %>
          <% if task.user_id == participant.user_id %>
        <ul class="mdc-list" role="group" aria-label="List with checkbox items">
          <li class="mdc-list-item" role="checkbox" aria-checked="false">
            <span class="mdc-list-item__graphic">
              <div class="mdc-checkbox">
                <input type="checkbox"
                        class="mdc-checkbox__native-control"
                        id="demo-list-checkbox-item-1"  />
                <div class="mdc-checkbox__background">
                  <svg class="mdc-checkbox__checkmark"
                        viewBox="0 0 24 24">
                    <path class="mdc-checkbox__checkmark-path"
                          fill="none"
                          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>
                  <div class="mdc-checkbox__mixedmark"></div>
                </div>
              </div>
            </span>
            <div class="task droppable-tasks">
            <label class="mdc-list-item__text" for="demo-list-checkbox-item-1"> <%= task.name %> </label>

            <span style="font-size: x-small; " class="mdc-list-item__text" for="demo-list-checkbox-item-1"> <%= task.description %> </span >

            </div>

          </li>
              <% task.attachments.each do |attach| %>
          <p>
                Attachment: <%= link_to attach.name, attach.attachment_url, target: "_blank" %>
              </p>
              <% end %>
        <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- CARDS  -->

<div class="participants">
  <% @trip.participants.each do |participant| %>
  <ul>
    <div class="droppable-tasks">
      <li>
        <% if !participant.user.nil? %>
        <h4> <%= participant.user.name%> </h4>
        <% else %>
        <%= "#{participant.email}, status: #{participant.status}" %>
        <% end %>
        <ul>
          <% @incomplete.each do |task| %>
          <% if task.user_id == participant.user_id %>
          <div class="draggable-tasks">
            <li>
              <h6> <%= task.name %> </h6>
              <p> <%= task.description %> </p>
                <%= simple_form_for([@trip, task], method: :patch) do |f| %>
                  <%= f.input :done_at, as: :hidden %>
                  <%= f.submit "Mark as Completed", class: "btn btn-primary" %>
                <% end %>
                <% @trip.participants.each do |participant| %>
                  <%= simple_form_for([@trip, task], method: :patch) do |f| %>
                  <%= f.hidden_field :participant , value: participant.user.id %>
                  <%= f.submit "Assign to #{participant.user.name}", class: "btn btn-primary" %>
                <% end %>
                <% end %>
<!--
              <button type="button"> <%= link_to "Mark as Complete", trip_task_path(@trip, task), {:action => "update"}%></button>
 -->              <% if task.attachments.present? %>
              <% task.attachments.each do |attach| %>
              <p>
                Attachment: <%= link_to attach.name, attach.attachment_url, target: "_blank" %>
              </p>
              <% end %>
              <% else %>
              <%= button_to "Attach file", class: "btn btn-flat" %>
              <% end %>
            </li>
          </div>
          <% end %>
          <% end %>
        </ul>
      </li>
    </div>
  </ul>
  <% end %>
</div>


<!-- MODAL BOX -->

<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">new task</button>
<!--  -->
<div id="id02" class="modal">
  <div class="modal-content">
  <!--  -->
  <%= simple_form_for [@trip, @task] do |f| %>
    <%= f.input :name %>

    <%= f.input :description, as: :text %>
    <%= f.input :due_date, as: :datetime, required: true, input_html: {class: "datepicker"} %>
    <div class="clearfix" style="display: flex">
    <%= f.submit "Create new task", class: "btn btn-primary" %>
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>

    <% end %>
    <!--  -->

  </div>
  </div>




</div>

<div class="completed-tasks">
  <h3>Completed Tasks</h3>
  <ul>
    <li>
        <% @complete.each do |task| %>
          <div class="draggable-cards">
            <li>
              <h6> <%= task.name %> </h6>
              <p> <%= task.description %> </p>

              <% if task.attachments.present? %>
              <% task.attachments.each do |attach| %>
              <p>
                Attachment: <%= link_to attach.name, attach.attachment_url, target: "_blank" %>
              </p>
              <% end %>
              <% else %>
              <%= button_to "Attach file", class: "btn btn-flat" %>
              <% end %>
            </li>
          </div>
          <% end %>

    </li>
  </ul>
</div>



<script>
  $( ".draggable-tasks" ).draggable({
    helper: 'clone'
  });

  $( ".droppable-tasks" ).droppable({
    drop: function() {
      // let ui = document.querySelector("");
      // var id = $(li.draggable).attr('id');
      // console.log(id);

    }
  });
</script>

