  <h1>Task Manager</h1>

<!--
<div class="button-add-people">
  <%= button_to "Add people", class: "btn btn-flat" %>
</div>
-->



<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add people</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="<%= trip_participants_path %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="container">
      <h1>Invite friends to your trip</h1>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Send invitation</button>
      </div>
    </div>
  </form>
</div>




<!-- CARDS  -->

<div class="participants">
  <% @trip.participants.each do |participant| %>
  <ul>
    <div class="droppable-tasks">
      <li>
        <% if !participant.user.nil? %>
        <h4> <%= participant.user.name%> </h4>
        <% else %>
        <%= "#{participant.email}, status: #{participant.status}" %>
        <% end %>
        <ul>
          <% @incomplete.each do |task| %>
          <% if task.user_id == participant.user_id %>
          <div class="draggable-tasks">
            <li>
              <h6> <%= task.name %> </h6>
              <p> <%= task.description %> </p>
                <%= simple_form_for([@trip, task], method: :patch) do |f| %>
                  <%= f.submit "Mark as Completed", class: "btn btn-primary" %>
                <% end %>
<!--
              <button type="button"> <%= link_to "Mark as Complete", trip_task_path(@trip, task), {:action => "update"}%></button>
 -->              <% if task.attachments.present? %>
              <% task.attachments.each do |attach| %>
              <p>
                Attachment: <%= link_to attach.name, attach.attachment_url, target: "_blank" %>
              </p>
              <% end %>
              <% else %>
              <%= button_to "Attach file", class: "btn btn-flat" %>
              <% end %>
            </li>
          </div>
          <% end %>
          <% end %>
        </ul>
      </li>
    </div>
  </ul>
  <% end %>
</div>


<!-- MODAL BOX -->

<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">new task</button>
<!--  -->
<div id="id02" class="modal">
  <div class="modal-content">
  <!--  -->
  <%= simple_form_for [@trip, @task] do |f| %>
    <%= f.input :name %>

    <%= f.input :description, as: :text %>
    <%= f.input :due_date, as: :datetime, required: true, input_html: {class: "datepicker"} %>
    <%= button_to "Attach file", class: "btn btn-flat" %>
    <%= f.submit "Create new task", class: "btn btn-primary" %>

    <% end %>
    <!--  -->
  <div class="clearfix">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>

  </div>
  </div>




</div>

<div class="completed-tasks">
  <h3>Completed Tasks</h3>
  <ul>
    <li>
        <% @complete.each do |task| %>
          <div class="draggable-cards">
            <li>
              <h6> <%= task.name %> </h6>
              <p> <%= task.description %> </p>

              <% if task.attachments.present? %>
              <% task.attachments.each do |attach| %>
              <p>
                Attachment: <%= link_to attach.name, attach.attachment_url, target: "_blank" %>
              </p>
              <% end %>
              <% else %>
              <%= button_to "Attach file", class: "btn btn-flat" %>
              <% end %>
            </li>
          </div>
          <% end %>

    </li>
  </ul>
</div>



<script>
  $( ".draggable-tasks" ).draggable({
    helper: 'clone'
  });

  $( ".droppable-tasks" ).droppable({
    drop: function() {
      // let ui = document.querySelector("");
      // var id = $(li.draggable).attr('id');
      // console.log(id);

    }
  });
</script>

